@model GroceryExpressProject.Models.Driver_Details

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Driver_Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.License_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.License_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone_Number)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Driver_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
